DAWARICH_DB_USERNAME=postgres
DAWARICH_DB_PASSWORD=[REDACTED]
DAWARICH_DB_NAME=dawarich_production
DAWARICH_SECRET_KEY_BASE=[REDACTED]
DAWARICH_APPLICATION_HOSTS=localhost,::1,127.0.0.1,192.168.178.13
DAWARICH_TIME_ZONE=Europe/Berlin
